@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --primary: #7f5af0;
  --primary-light: #bfacf8;
  --primary-dark: #5f43b4;
  --background: #010101;
  --background-secondary: #16161a;
  --secondary: #2cb67d;
  --metric-primary: 16px;
  --metric-secondary: 24px;
  --metric-tertiary: 8px;
}
